body {
  user-select: none;
  background-image:  url("https://picsum.photos/500/330");
  background-color: #4d6275;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  /* background-blend-mode: luminosity; */
}

.flex {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin-left: 25%;
  position: fixed;
}

.container {
  margin: 0 auto
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 30px;
  background: rgba(241, 241, 241, 0.42);
  border-radius: 5px;
  font-size: 3.3em;
  font-family: 'Allison', cursive;
}

blockquote p::before {
  content: '\201C';
}

blockquote p::after {
  content: '\201D';
}

#author {
  font-size: 1.2em;
  color: rgb(120, 245, 191)
}

@media only screen and (max-width: 600px) {
  blockquote p {
    background: rgba(241, 241, 241, 0.42);
    border-radius: 5px;
    font-size: 2.3em;
    font-family: 'Allison', cursive;
    line-height: .5em
  }
}