* {
  box-sizing: border-box;
}
.buttons-container{
  width:100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom:0;
 margin-bottom: 7em;
 align-items: center;
}
button {
  width: 7em;
  margin-top: 10px;
  margin-left: 2em;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  background-color: bisque;
}

button:hover {
  background-color: rgb(215, 178, 129);
}

@media only screen and (max-width: 600px) {
  button {
    width: 8em;
    margin-left: 2em;
    /* margin-top: 10px; */
    /* border-radius: 10px; */
    padding: 1em 2em;
  }
}