* {
  box-sizing: border-box;
}

button {
  width: auto;
  margin: 2em;
  margin-top: 10px;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  background-color: bisque
}

button:hover {
  background-color: rgb(215, 178, 129);
}

@media only screen and (max-width: 600px) {
  button {
    width: 200px;
    margin-left: 2.3em;
    /* margin-top: 10px; */
    /* border-radius: 10px; */
    padding: 0 2em;
  }
}